.note {
  margin: 5px;
  width: 300px;
  background-color: rgb(255, 238, 164);
  position: relative;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1em;
  border-radius: 10px 10px 0px 0px;
}

.note_toolbar {
  background: #7f5b0a;
  height: 20px;
  border-radius: 8px 8px 0px 0px;
}

.content {
  padding: 5px;
  outline: none;
  height: 250px;
  border-radius: 8px;
  overflow-y: auto;
}
