<!-- nav -->
<mat-toolbar>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/office">Biuro</button>
    <button mat-button routerLink="/caseFiles">Akta spraw</button>
    <button mat-button routerLink="/map">Mapa</button >
    <span class="spacer"></span>
    Fundusze: 300,00 $
</mat-toolbar>

<!-- main content container -->
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-sm-8 offset-sm-2">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
