<div style="margin: 10px">
  <br>
  <mat-card >
    <mat-card-title align="center">Artefakty i inne zdobycze</mat-card-title>
  </mat-card>
  <div style="margin: 20px;">
    <mat-table [dataSource]="artifacts" class="mat-elevation-z8" matSort>

      <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef  mat-sort-header> Nazwa </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Typ </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.type}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="price">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Wartość </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.price}} </mat-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef mat-sort-header> Opis </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="['name', 'type', 'price', 'description']; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: ['name', 'type', 'price', 'description'];"></mat-row>
    </mat-table>
  </div>
</div>
