/* You can add global styles to this file, and also import other style files */
@import "~leaflet/dist/leaflet.css";
@font-face {
  font-family: Parklane;
  src: url(assets/fonts/ParkLaneNF.ttf) format("opentype");
  font-weight: bold;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

