<div style="margin: 10px">
  <br>
  <mat-card >
    <mat-card-title align="center">Akta Spraw</mat-card-title>
  </mat-card>
  <div class="notes-stack">
    <!--<app-note *ngFor="let not of note" id="{{not.id}}"></app-note>-->
  </div>
</div>
